{% extends 'base.html' %}


{% block content %}
{% load static %}

<h1 class="my-4">ML Algorithm
  <small>Interactive Tutorials</small>
</h1>


<div class="card mb-4">
  {% load static %}
  <img class="card-img-top" src="/static/src/logistic.png" alt="Card image cap">
  <div class="card-body">
    <h2 class="card-title">Logistic Regression</h2>
    <p class="card-text">Logistic Regression basically has the same hypothesis as Linear Regression in binary
      classification. However,
      Logistic Regression has the different way to calculate hypothesis value to correct the distorted hypothesis value
      when outliers present ... </p>
    <a href="logistic" class="btn btn-primary">Read More &rarr;</a>
  </div>
  <div class="card-footer text-muted">
    Posted on 2021/03/17
  </div>
</div>

<div class="card mb-4">
  {% load static %}
  <img class="card-img-top" src="/static/src/largemargin.png" alt="Card image cap">
  <div class="card-body">
    <h2 class="card-title">SVM</h2>
    <p class="card-text">We now change the way to calculate the hypothesis value by letting y*h(x)>=1, which means we
      need h(x)>=1 or h(x)<=-1 depending on labels. Hence, the new version of cost function needs to punish if
        hypothesis values are far from 1 or -1. The hinge function is perfectly fitted in this situation.</p>
        <a href="svm" class="btn btn-primary">Read More &rarr;</a>
  </div>
  <div class="card-footer text-muted">
    <!-- Posted on {{ post.created_at }} -->
  </div>
</div>

<div class="card mb-4">
  {% load static %}
  <img class="card-img-top" src="/static/src/comingsoon.png" alt="Card image cap">
  <div class="card-body">
    <h2 class="card-title">Random Forest</h2>
    <p class="card-text">Coming Soon !!</p>
    <a href="randomforest" class="btn btn-primary">Read More &rarr;</a>
  </div>
  <div class="card-footer text-muted">
    <!-- Posted on  -->
  </div>
</div>


{% endblock %}