{% extends 'base_test.html' %}

{% block content %}
<div class="row">
    {% for post in post_list %}
    <div class="col-lg-4">
        <div class="card" style="width: 18rem;">
            <img alt="..." class="card-img-top" src="{{ article.thumb }}" />
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.created_at }} . . .</p>
                <a class="btn btn-primary" href="{% url post.title %}">{{post.title}}</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock  %}
