<style type="text/css">
    canvas {
        border: 1px solid;
    }
</style>
</head>

<body>
    <canvas id="features" width="300" height="300"></canvas>
    <button id="color" onclick="nextColor()" style="background-color: rgb(170, 0, 102); color: black;">Change</button>
    <button id="run" onclick="drawModel()">Run</button>
    <button id="clear" onclick="clearScreenAndData()">Clear</button>
    <input id="param" value="-t 2 -c 100">
    <script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
    {% load static %}
    <script src="{% static 'js/logistic.js' %}"></script>
</body>

</html>