<!DOCTYPE html>
<html>

<body>
    <p>请输入两个数字</p>
    <form action="/add/" method="get">
        a: <input type="text" id="a" name="a"> <br>
        b: <input type="text" id="b" name="b"> <br>
        <p>result: <span id='result'></span></p>
        <button type="button" id='next'>下一個</button>
        <button type="button" id='sum'>提交</button>
    </form>


    <div id="dict">Ajax 加载字典</div>
    <p id="dict_result"></p>

    <div id="list">Ajax 加载列表</div>
    <p id="list_result"></p>


    <script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
    {% load static %}
    <script src="{% static 'js/test.js' %}"></script>
</body>

</html>